
.menuItem a{
    text-decoration: none;
    color: #666;
}
.menuItem:nth-child(3){
    border-bottom: 2px solid #cc1212;
}

body{
    background: #fbfbfb;
}
.pageMain{
    box-sizing: border-box;
    padding: 0 80px;
    padding-top: 96px;
}
.advantageList{
    text-align-last: justify;
    margin-bottom: 36px;
}
.advantageBox{
    display: inline-block;
    width: 257px;
    min-height: 100px;
    /*border-top: 2px solid #ccc;*/
    /*background: #fff;*/
    margin-bottom: 36px;
    position: relative;
    vertical-align: top;
    /*border-radius: 10px;*/
    cursor: default;
    /*box-shadow: 0 0 5px #fbfbfb;*/
    /*overflow: hidden;*/
}
.advantageBox:hover{
    /*box-shadow: 0 0 10px #ccc;*/
    /*border-top: 2px solid #ccc;*/
    /*border-top: none;*/
    background: #d55555;
    color: #fff;
}
.advantageBox .icon{
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -40px;
    margin-left: -4px;
    border-radius: 100px;
    line-height: 80px;
    text-align: center;
}
.advantageBox .icon:after{
    font-family: FontAwesome;
    content: "\f2b7";
    font-size: 30px;
}
.advantageTitle{
    /*background: url("../img/7.jpg") no-repeat;*/
    background-size: contain;
    line-height: 100px;
    width: 100%;
    padding-left: 116px;
    text-align-last: left;
    letter-spacing: 6px;
    border-radius: 10px;
    overflow: hidden;
}
.advantageBox{

}
.advantageBox:hover .advantageMsg{
    display: block;
    text-align-last: left;
}
.advantageMsg{
    display: none;
    position: absolute;
    top: 100px;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
    padding: 20px 20px;
    margin-top: 12px;
}
.advantageMsg p{
    line-height: 1.5em;
}
.advantageOther{
    font-family: 草檀斋毛泽东字体;
    text-align: center;
    font-size: 36px;
    padding-bottom: 95px;
    margin-top: 72px;
    color: brown;
}