.header-main{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.menu{
    position: relative;
    top:40px;
}
.menuUl{
    display: block;
    margin: 0;
    text-align: center;
    color: #fff;
    /*font-size: 14px;*/
}

.menuItem{
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px 10px 10px;
    cursor: pointer;
}
.menuItem:hover{
    border-bottom: 2px solid #cc1212;
}
.menuItem a{
    text-decoration: none;
    color: #fff;
}
.header-main-icon{
    text-align: center;
}
.header-main-icon img:hover{
    opacity: 1;
}
.header-main-icon ul{
    margin-left:0;
}
.header-main-icon li{
    display: block;
    position: relative;
    top:50px;
}
.header-main-icon li span{
    display: none;
}
.header-main-icon li img{
    opacity: 0.66;
    cursor: pointer;
    margin-top: 15px;
}


.footer{
    min-height: 100px;
    background: #f2f2f2;
    color: #5a5a5a;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    box-shadow: 0 0 10px #ccc;
    letter-spacing: 1px;
    text-indent: 1px;
    padding-bottom: 28px;
}
.footer p{
    margin: 0;
    line-height: 1.5em;
    margin-top: 16px;
}

.header-logo{
    position: absolute;
    left: -84px;
    top: 26px;
}
.header-logo img{
    max-width: 100%;
    max-height: 100%;
}


.header{
    height: 138px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px #8a8a8a;
    position: relative;
    z-index: 99999;
}
.menuItem a{
    text-decoration: none;
    color: #666;
}
.header,.footer{
    min-width: 1000px;
}
.banner{
    min-width: 1000px;
}