@media screen and (max-width: 360px){
    html{
        background: #f2f2f2!important;
    }
    .bg6Key{
        line-height: 60px!important;
        position: relative!important;
        top: 168px!important;
    }
    .negotiateMain{
        margin-top: 180px!important;

    }
    .kfdhMain{
        line-height: 2em!important;
        font-size: 22px !important;
        text-align: center;
        padding: 20px 0;
    }
    .contactUsList .value{
        width: 200px!important;
    }
    .contactUsList li{
        width: 100% !important;
        margin: 0 !important;
        padding: 10px 0;
    }
    .contactUsList li:nth-child(2){
        background: #fff!important;
    }
    .QRcode .item{
        margin-bottom: 4em!important;
    }
    .contactOnlineLeft{
        width: 100% !important;
    }
    .contactOnlineLeft .show{
        margin-top: 70px!important;
    }
    .onlinePost{
        display: none;
    }
    .contactOnlineMain{
        width: 100%!important;
        background: #f2f2f2!important;
        color: #333!important;
        position: relative!important;
        z-index: 10000!important;
    }
    .online-item .t{
        display: block!important;
        width: 239px!important;
        box-sizing: border-box;
        margin-bottom: 1em!important;
        border-left: 2px solid #a54545 !important;
    }
    .online-item .v input{
        background: #fff!important;
    }
    .online-item .v textarea{
        background: #fff!important;
    }
    .onlinePostMobile{
        display: block!important;
    }
    .footer{
        position: relative!important;
        z-index: 9999!important;
    }
}